<section id="inventory-list">
	<h1><%= (@vehicle.model.make.nil? ? "" : @vehicle.model.make.caption) %>
		<%= (@vehicle.model.nil? ? "" : @vehicle.model.caption) %>&nbsp;<%= @vehicle.additional_details %>
	</h1>
	<div class="section-content">
		<article class="vehicle-detail">
			<dl  style="float:right;width:244px;" class="multiple-table">
				<dt>Year / Make / Model</dt>
				<dd>
					<%= @vehicle.registration_year %> / 
					<%= (@vehicle.model.make.nil? ? "" : @vehicle.model.make.caption) %> / 
					<%= (@vehicle.model.nil? ? "" : @vehicle.model.caption) %>

				</dd>
				
				<dt>Registration</dt>
				<dd><%= @vehicle.registration %></dd>

				<dt><%= t(:price, :default => "Price") %></dt>
				<dd><%= number_to_currency(@vehicle.price) %></dd>

				<dt>Mileage</dt>
				<dd><%= @vehicle.mileage %>
					<%= t((@vehicle.mileage_warranty ? " (Warranted)" : "")) %>
				</dd>

				<dt>Body Type</dt>
				<dd><%= @vehicle.body_type %></dd>

				<dt>Doors</dt>
				<dd><%= @vehicle.doors %></dd>

				<dt>Fuel</dt>
				<dd><%= @vehicle.fuel %></dd>

				<dt>Color</dt>
				<dd><%= @vehicle.color %></dd>

				<dt>Equipment</dt>
				<dd>&nbsp;<%= @vehicle.equipment %></dd>
				<dt>Notes</dt>
				<dd>&nbsp;<%= @vehicle.notes %></dd>
			</dl>
	<!-- Place somewhere in the <body> of your page -->
	<div class="flexslider">
	  <ul class="slides">
	    <li>
	      <img src="http://res.cloudinary.com/anysites/image/upload/v1364749763/RO59AGZFR_te5xvz.jpg" />
	    </li>
	    <li>
	      <img src="http://res.cloudinary.com/anysites/image/upload/v1364749766/RO59AGZINT1_r3xygs.jpg" />
	    </li>
	    <li>
	      <img src="http://res.cloudinary.com/anysites/image/upload/v1364749769/RO59AGZBK_t2iu0x.jpg" />
	    </li>
	  </ul>
	</div>

		</article>
	</div>
</section>


<!-- <h1>Vehicles#show</h1>
<p>
	<% puts @vehicle.inspect %>
</p>
<p>
	<b><%= t(:additional_details, :default => "Additional details") %>:</b>
	<%= @vehicle.additional_details %>
</p>
<p>
	<b><%= t(:registration, :default => "Registration") %>:</b>
	<%= @vehicle.registration %>
</p>
<p>
	<b><%= t(:registration_year, :default => "Registration year") %>:</b>
	<%= @vehicle.registration_year %>
</p>
<p>
	<b><%= t(:fuel, :default => "Fuel") %>:</b>
	<%= @vehicle.fuel %>
</p>
<p>
	<b><%= t(:mileage, :default => "Mileage") %>:</b>
	<%= @vehicle.mileage %>
</p>
<p>
	<b><%= t(:mileage_warranty, :default => "Mileage warranty") %>:</b>
	<%= t((@vehicle.mileage_warranty ? "yes".to_sym : "no".to_sym)) %>
</p>
<p>
	<b><%= t(:price, :default => "Price") %>:</b>
	<%= number_to_currency(@vehicle.price) %>
</p>
<p>
	<b><%= t(:color, :default => "Color") %>:</b>
	<%= @vehicle.color %>
</p>
<p>
	<b><%= t(:doors, :default => "Doors") %>:</b>
	<%= @vehicle.doors %>
</p>
<p>
	<b><%= t(:body_type, :default => "Body type") %>:</b>
	<%= @vehicle.body_type %>
</p>
<p>
	<b><%= t(:equipment, :default => "Equipment") %>:</b>
	<%= @vehicle.equipment %>
</p>
<p>
	<b><%= t(:notes, :default => "Notes") %>:</b>
	<%= @vehicle.notes %>
</p>
 -->