<!DOCTYPE html>
<html>
<head>
	<title>CarExportsUk | <%= @titre %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
</head>
<body class="two-col">
	<div class="container">
		<%= render 'layouts/header' %>
		<div id="content">
			<%= yield %>
		</div>
		<aside class="sidebar">
			<p>SideBar</p>
		</aside>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>