<!DOCTYPE html>
<html>
<head>
	<title>Simple App du Tutoriel Ruby on Rails | <%= @titre %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<aside></aside>
		<section class="round">
			<%= yield %>
		</section>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>