<!DOCTYPE html>
<html>
<head>
	<title>CarExportsUk | <%= @titre %></title>
	<%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag "application" %>
	<!-- Place in the <head>, after the three links -->
<!-- Place in the <head>, after the three links -->
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {
    $('.flexslider').flexslider();
  });
</script>
</head>

<body class="two-col">
	<div id="root" class="container">
		<header>
			<%= render 'layouts/header' %>
		</header>
		<div id="content">
			<%= yield %>
		</div>
		<aside class="sidebar">
			<%= render 'layouts/sidebar' %>
		</aside>
		<div id="root-footer"><%# Sticky Footer %>
		</div>
	</div>
	<footer><%# Sticky Footer %>
		<%= render 'layouts/footer' %>
	</footer>
</body>
</html>